<script setup>
  import { ref, computed } from 'vue';
  let todoList = ref([]);
  let todo = ref(null);
  let duedate =ref(null);
  let title = ref('');

  const addTodo = () => {

    //to validate first the user input
    if(validateTodo(todo.value)){
      let id = todoList.value.length;
      // to push the input inside the todoList
      todoList.value.push({
      id: ++id, 
      todo: todo.value,
      duedate: duedate.value,
      title: title.value,
      is_done: false
    })

    // to reset the input
    todo.value = null
    duedate.value = null
    title.value = ''
    } 
  }

  // to validate user input
  const validateTodo = (new_todo) => {
    let index = todoList.value.findIndex((t) => t.todo === new_todo);

    // to prevent duplicate todo list
    if(index !== -1){
      alert("Todo already exist!");
      return false;
    } 

    // to prevent entering empty input   
    if(title.value === ''){
        alert("Title is empty!");
        return false;
      }

    if(todo.value === null){
        alert("Please enter todo!");
        return false;
      }
      
    else{
      return true;
    }
  }


  // to hide edit button when there is no selected todo
  let selectedTodo = ref(false);
  const selectTodo = (row) => {
    selectedTodo.value = row;
    todo.value = row.todo;
    duedate.value = row.duedate;
    title.value = row.title;
  }


  // to check if the task user wants to edit have title and description
  const validateUpdateTodo = () => {
  if (title.value.trim() === '') {
    alert("Title is empty!");
    return false;
  }

  if (todo.value === null || todo.value.trim() === '') {
    alert("Please enter todo!");
    return false;
  }

  return true;
}

//to update todo list
const updateTodo = () => {
  if (validateUpdateTodo()) {
    let index = todoList.value.findIndex((t) => t.id === selectedTodo.value.id);
    if (index !== -1) {
      // to modify the list 
      todoList.value[index].todo = todo.value;
      todoList.value[index].duedate = duedate.value;
      todoList.value[index].title = title.value;
    }
    todo.value = duedate.value = title.value = null; // to reset inputs
    selectedTodo.value = null; // to reset selected todovalue to false
  }
}

  // to mark task as done or completed
  const markAsDone = (row) => {
    if (confirm(`Are you sure you want to mark ${row.todo} as done?`)){
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && (todoList.value[index].is_done = true);
    }
  }

  // to delete task from the list
  const removeTodo = (row) => {
    if (confirm(`Are you sure you want to delete ${row.todo}?`)){
      let index = todoList.value.findIndex((t) => t.id === row.id);
      index !== -1 && todoList.value.splice(index, 1);
    }
  }

</script>

<template>
  <div class=" d-flex justify-content-center container ">    
    <div class="w-75">
      <form @submit.prevent="!selectedTodo ? addTodo() : updateTodo()">
        <div class="mb-3 mt-5">
          
          <label for="todo">What's your todo?</label>
          
          <div class="d-flex-column">
            <div class="d-flex mb-2 jus">
              <input v-model="title" type="text" class="form-control " id="todo" placeholder="Title">  
              <input v-model="duedate" type="date" class="form-control " id="dudate">           
            </div>

            
            <div class="d-flex">            
              <input v-model="todo" type="text" class="form-control" id="todo" placeholder="eg. Create todo application">
              <button v-if="!selectedTodo" class="btn btn-primary ms-3"><i class="bi bi-plus-circle-fill"></i></button>
              <button v-else class="btn btn-primary ms-3"><i class="bi bi-pencil-square"></i></button>
            </div>
            
          </div>
        </div>
      </form>
      <div @click="selectTodo(row)" v-for="row in todoList" :key="row.id"class="toast show mt-2 w-100" :class="{ 'done': row.is_done }">
        <div class="d-flex justify-content-between align-items-center ">

          <div class="d-flex-column p-3">
            <strong >{{row.title}}</strong>
            <p class="me-auto">{{ row.todo }}</p>
            <p class="me-auto">{{ row.duedate }}</p>
          </div>  
          
          <div class="p-3">
            <button :class="`btn btn-${row.is_done ? 'success' : `outline-secondary`} btn-sm`" @click.stop="markAsDone(row)"><i class="bi bi-check-lg"></i></button>
            <button class="btn btn-danger btn-sm ms-1" @click.stop="removeTodo(row)"><i class="bi bi-trash-fill"></i></button>
          </div>
          
        </div>
      </div>
    </div>
  </div>

</template>

<style scoped>

/*Change the color of the task when it's completed */
.done {
    background-color: #d4edda; 
    border-color: #c3e6cb;
    color: #155724;
  }

</style>
