<template>
  <q-layout view="lHh Lpr lFf">
    <q-header>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />
      </q-toolbar>

      <div class="q-px-lg q-pt-xl q-mb-md">
        <div class="text-h4">TODO APPLICATION</div>
        <div class="text-subtitle">{{formattedString}}</div>
      </div>
    </q-header>


      <q-drawer
        v-model="leftDrawerOpen"
        show-if-above
        :width="300"
        :breakpoint="600"
      >
        <q-scroll-area style="height: calc(100% - 175px); margin-top: 175px; border-right: 1px solid #ddd">
          <q-list>
            <q-item-label header>Essential Links</q-item-label>
              <EssentialLink
                v-for="link in linksList"
                :key="link.title"
                :title="link.title"
                :caption="link.caption"
                :icon="link.icon"
                :route_name="link.path"
              />
            </q-list>
        </q-scroll-area>

        <div class="absolute-top" style="background-color: #9C27B0; height: 175px; opacity: .2;">
        </div>
      </q-drawer>


    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script setup>
  import { computed, ref } from 'vue'
  import EssentialLink from 'components/EssentialLink.vue'
  import { date } from 'quasar'

  defineOptions({
    name: 'MainLayout'
  })

  const linksList = [
    {
      title: 'My Tasks',
      caption: 'List of unfinished tasks',
      icon: 'task',
      path: '/my-task'
    },

    {
      title: 'Finished Tasks',
      caption: 'List of finished tasks',
      icon: 'check_circle_outline',
      path: '/finished-task'
    },

    {
      title: 'Deleted Tasks',
      caption: 'List of deleted tasks',
      icon: 'delete_outline',
      path: '/deleted-task'
    },
  ];

  const leftDrawerOpen = ref(false)

  function toggleLeftDrawer () {
    leftDrawerOpen.value = !leftDrawerOpen.value
  }
    
  const timeStamp = Date.now()
  const formattedString = date.formatDate(timeStamp, 'dddd D MMMM')
</script>
