<template>
  <q-form @submit="!selectedRow.id ? addTodo() : updateTodo()" class="q-ma-xl">
    <q-input v-model="form.title" label="Input Field" />
    <q-btn
      type="submit"
      :label="!selectedRow.id ? 'Submit' : 'Update'"
      color="primary"
      :loading="btnLoadingState"
    />

    <q-btn
      :loading="deleteBtnLoadingState"
      v-if="selectedRow.id"
      @click="deleteTodo()"
      class="q-ml-md"
      label="Delete"
      color="negative"
    />
  </q-form>

  <q-page class="q-ma-xl">
    <q-table
      title="Todos"
      :rows="rows"
      :columns="columns"
      row-key="name"
      @row-click="onRowClick"
    />
  </q-page>
</template>

<script>
import { ref } from 'vue';
import axios from 'axios';

export default {
  setup() {
    let rows = ref([]);
    let columns = ref([
      {
        name: "title",
        label: "Title",
        align: "left",
        field: "title",
      },
      {
        name: "completed",
        label: "Completed",
        align: "left",
        field: "completed",
      },
    ]);

    const form = ref({
      userId: 1,
      title: null,
      completed: false,
    });

    const btnLoadingState = ref(false);
    const deleteBtnLoadingState = ref(false);
    let selectedRow = ref({});
    
    const addTodo = () => {
      // to set loading state to true to indicate that the operation is in progress
      btnLoadingState.value = true;
      // to send a POST request to the API to add a new todo item
      axios
        .post("https://jsonplaceholder.typicode.com/todos", form.value)
        .then((response) => {
          // if the request is successful (status code 201),
          // it will add the new todo item at the beginning of the list
          if (response.status === 201) {
            rows.value.unshift(response.data);
            // then it will reset the title field in the form to clear the input
            form.value.title = null;
          }
        })
        .catch((error) => {
          // if there's an error, log it to the console
          console.error('Error adding todo:', error);
        })
        .finally(() => {
          // to set loading state back to false to indicate that the operation is complete
          btnLoadingState.value = false;
        });
    };

    const updateTodo = () => {
      // to set loading state to true to indicate that the operation is in progress
      btnLoadingState.value = true;
      // eto send a PUT request to update the todo item with the new title
      axios
        .put(
          `https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`,
          {
            title: form.value.title,
          }
        )
        .then((response) => {
          // if the request is successful (status code 200),
          // update the title of the todo item in the rows array
          if (response.status === 200) {
            // to find the index of the todo item in the rows array
            // that matches the id of the selected todo item
            let index = rows.value.findIndex(
              (row) => row.id === selectedRow.value.id
            );
            // to update the title of the todo item in the rows array
            // with the title returned in the response
            rows.value[index].title = response.data.title;
            // to reset the title field in the form to clear the input
            form.value.title = null;
            // to reset the selectedRow to an empty object
            selectedRow.value = {};
          }
        })
        .catch((error) => {
          // if there's an error, log it to the console
          console.error('Error updating todo:', error);
        })
        .finally(() => {
          // then set loading state back to false to indicate that the operation is complete
          btnLoadingState.value = false;
        });
    };


    const deleteTodo = () => {
      deleteBtnLoadingState.value = true;

      // to send a DELETE request to delete the todo item with the specified ID
      axios
        .delete(`https://jsonplaceholder.typicode.com/todos/${selectedRow.value.id}`)
        .then((response) => {
          // if the request is successful (status code 200),
          // then remove the deleted todo item from the rows array
          if (response.status === 200) {
            // then udate the rows array to exclude the deleted todo item
            rows.value = rows.value.filter((row) => row.id !== selectedRow.value.id);
            // reset the title field in the form to clear the input
            form.value.title = null;
            // reset the selectedRow to an empty object
            selectedRow.value = {};
          }
        })
        .catch((error) => {
          // if there's an error, log it to the console
          console.error('Error deleting todo:', error);
        })
        .finally(() => {
          deleteBtnLoadingState.value = false;
        });
    };

    const onRowClick = (evt, row) => {
      selectedRow.value = row;
      form.value.title = row.title;
    };

    const getTodos = () => {
      // to send a GET request to fetch the list of todos
      axios
        .get("https://jsonplaceholder.typicode.com/todos")
        .then((response) => {
          // if the request is successful, update the rows array with the fetched todos
          rows.value = response.data;
        })
        .catch((error) => {
          // if there's an error, log it to the console
          console.error('Error fetching todos:', error);
        });
    };
    // call the getTodos function to fetch the todos when the script is executed
    getTodos();


    return {
      rows,
      columns,
      form,
      btnLoadingState,
      deleteBtnLoadingState,
      addTodo,
      selectedRow,
      onRowClick,
      updateTodo,
      deleteTodo
    };
  },
};
</script>
